{
	code = 0;
	error = "";
	extraInfo = {
		countTotal = 9;
		currentAlbumId = 230464;
		lastChapterId = 8036;
		nextChapterId = "<null>";
		otherTitle = "";
		otherType = 0;
		totalChapterSize = 1933499;
	};
	params = {
		"REQUEST_METHOD" = GET;
		chapterId = 8038;
		isSize = 1;
		orderType = 1;
		page = 1;
		r = "cartoonChapter/albumList";
		size = 10;
	};
	results = (
		{
			cartoonId = 205;
			cartoonName = "\U6211\U53eb\U5c0f\U4ed9";
			chapterId = 8038;
			chapterIndex = 112;
			chapterName = "\U6709\U5988\U7684\U5b69\U5b50\U624d\U662f\U5b9d";
			createTime = "2015-12-24 11:56:40";
			id = 230464;
			images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/5abc077aaf3e910f4a50605d9e516216_125642.jpg";
			imgHeight = 1086;
			imgSize = 125642;
			imgWidth = 800;
			mineType = "";
			modifyTime = "2015-12-24 11:56:40";
			priority = 1;
			status = 1;
			userID = 52213;
		},
		{
			cartoonId = 205;
			cartoonName = "\U6211\U53eb\U5c0f\U4ed9";
			chapterId = 8038;
			chapterIndex = 112;
			chapterName = "\U6709\U5988\U7684\U5b69\U5b50\U624d\U662f\U5b9d";
			createTime = "2015-12-24 11:56:41";
			id = 230465;
			images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/81f7e1a1cdaacc325a6d17fc93fbac99_292297.jpg";
			imgHeight = 1086;
			imgSize = 292297;
			imgWidth = 800;
			mineType = "";
			modifyTime = "2015-12-24 11:56:41";
			priority = 2;
			status = 1;
			userID = 52213;
		},
		{
			cartoonId = 205;
			cartoonName = "\U6211\U53eb\U5c0f\U4ed9";
			chapterId = 8038;
			chapterIndex = 112;
			chapterName = "\U6709\U5988\U7684\U5b69\U5b50\U624d\U662f\U5b9d";
			createTime = "2015-12-24 11:57:19";
			id = 230481;
			images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/9d59009d44861ebcdc772540edbc4d59_210848.jpg";
			imgHeight = 1086;
			imgSize = 210848;
			imgWidth = 800;
			mineType = "";
			modifyTime = "2015-12-24 11:57:19";
			priority = 3;
			status = 1;
			userID = 52213;
		},
		{
			cartoonId = 205;
			cartoonName = "\U6211\U53eb\U5c0f\U4ed9";
			chapterId = 8038;
			chapterIndex = 112;
			chapterName = "\U6709\U5988\U7684\U5b69\U5b50\U624d\U662f\U5b9d";
			createTime = "2015-12-24 11:57:19";
			id = 230482;
			images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/fd265f6945a4159cb679e2f8b7bfafa9_317395.jpg";
			imgHeight = 1086;
			imgSize = 317395;
			imgWidth = 800;
			mineType = "";
			modifyTime = "2015-12-24 11:57:19";
			priority = 4;
			status = 1;
			userID = 52213;
		},
		{
			cartoonId = 205;
			cartoonName = "\U6211\U53eb\U5c0f\U4ed9";
			chapterId = 8038;
			chapterIndex = 112;
			chapterName = "\U6709\U5988\U7684\U5b69\U5b50\U624d\U662f\U5b9d";
			createTime = "2015-12-24 11:57:20";
			id = 230483;
			images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/d2ccc8bae01335f7440b05260f2d75ba_223266.jpg";
			imgHeight = 1086;
			imgSize = 223266;
			imgWidth = 800;
			mineType = "";
			modifyTime = "2015-12-24 11:57:20";
			priority = 5;
			status = 1;
			userID = 52213;
		},
		{
			cartoonId = 205;
			cartoonName = "\U6211\U53eb\U5c0f\U4ed9";
			chapterId = 8038;
			chapterIndex = 112;
			chapterName = "\U6709\U5988\U7684\U5b69\U5b50\U624d\U662f\U5b9d";
			createTime = "2015-12-24 11:57:20";
			id = 230484;
			images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/e132d00c4905fbb3ce2088f107f001d4_223564.jpg";
			imgHeight = 1086;
			imgSize = 223564;
			imgWidth = 800;
			mineType = "";
			modifyTime = "2015-12-24 11:57:20";
			priority = 6;
			status = 1;
			userID = 52213;
		},
		{
			cartoonId = 205;
			cartoonName = "\U6211\U53eb\U5c0f\U4ed9";
			chapterId = 8038;
			chapterIndex = 112;
			chapterName = "\U6709\U5988\U7684\U5b69\U5b50\U624d\U662f\U5b9d";
			createTime = "2015-12-24 11:57:20";
			id = 230485;
			images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/cbac98731f70c5f72a6760bf178ec80a_258837.jpg";
			imgHeight = 1086;
			imgSize = 258837;
			imgWidth = 800;
			mineType = "";
			modifyTime = "2015-12-24 11:57:20";
			priority = 7;
			status = 1;
			userID = 52213;
		},
		{
			cartoonId = 205;
			cartoonName = "\U6211\U53eb\U5c0f\U4ed9";
			chapterId = 8038;
			chapterIndex = 112;
			chapterName = "\U6709\U5988\U7684\U5b69\U5b50\U624d\U662f\U5b9d";
			createTime = "2015-12-24 11:57:21";
			id = 230486;
			images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/9b550b35deea1093480d56421f79efad_173378.jpg";
			imgHeight = 1086;
			imgSize = 173378;
			imgWidth = 800;
			mineType = "";
			modifyTime = "2015-12-24 11:57:21";
			priority = 8;
			status = 1;
			userID = 52213;
		},
		{
			cartoonId = 205;
			cartoonName = "\U6211\U53eb\U5c0f\U4ed9";
			chapterId = 8038;
			chapterIndex = 112;
			chapterName = "\U6709\U5988\U7684\U5b69\U5b50\U624d\U662f\U5b9d";
			createTime = "2015-12-24 11:57:21";
			id = 230487;
			images = "http://7xkbpd.com2.z0.glb.qiniucdn.com/063ae16c8db669330f4dcc0b62506920_108272.jpg";
			imgHeight = 1086;
			imgSize = 108272;
			imgWidth = 800;
			mineType = "";
			modifyTime = "2015-12-24 11:57:21";
			priority = 9;
			status = 1;
			userID = 52213;
		},
	);
}